DATABASES = {
    'default': {
            'ENGINE': 'django.db.backends.postgresql_psycopg2',
            'NAME': 'djproject',
            'USER': 'gbuser',
            'PASSWORD': 'Pass*good12345',
            'HOST': 'localhost',
            'PORT': '',
    }
}